<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-129}</string>
			<key>spriteSize</key>
			<string>{473,530}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,0},{473,530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-135}</string>
			<key>spriteSize</key>
			<string>{515,545}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{517,0},{515,545}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,-108}</string>
			<key>spriteSize</key>
			<string>{424,491}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{1034,0},{424,491}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,44}</string>
			<key>spriteSize</key>
			<string>{380,714}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,716},{380,714}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,44}</string>
			<key>spriteSize</key>
			<string>{380,713}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{517,716},{380,713}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,39}</string>
			<key>spriteSize</key>
			<string>{380,712}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{1034,716},{380,712}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_2.png</string>
		<key>size</key>
		<string>{1549,1430}</string>
		<key>textureFileName</key>
		<string>spritesheet_2.png</string>
	</dict>
</dict>
</plist>
