<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,30}</string>
			<key>spriteSize</key>
			<string>{380,707}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,0},{380,707}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,28}</string>
			<key>spriteSize</key>
			<string>{380,701}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{517,0},{380,701}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,28}</string>
			<key>spriteSize</key>
			<string>{380,700}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{1034,0},{380,700}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,-22}</string>
			<key>spriteSize</key>
			<string>{399,565}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,716},{399,565}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,-81}</string>
			<key>spriteSize</key>
			<string>{431,447}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{517,716},{431,447}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,-114}</string>
			<key>spriteSize</key>
			<string>{462,502}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{1034,716},{462,502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_1.png</string>
		<key>size</key>
		<string>{1549,1430}</string>
		<key>textureFileName</key>
		<string>spritesheet_1.png</string>
	</dict>
</dict>
</plist>
