<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-23}</string>
			<key>spriteSize</key>
			<string>{380,691}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,0},{380,691}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-18}</string>
			<key>spriteSize</key>
			<string>{379,682}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{382,0},{379,682}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-28}</string>
			<key>spriteSize</key>
			<string>{379,701}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{764,0},{379,701}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-37}</string>
			<key>spriteSize</key>
			<string>{379,712}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{1146,0},{379,712}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-40}</string>
			<key>spriteSize</key>
			<string>{379,714}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{1528,0},{379,714}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-41}</string>
			<key>spriteSize</key>
			<string>{379,713}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,716},{379,713}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-38}</string>
			<key>spriteSize</key>
			<string>{379,711}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{382,716},{379,711}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-32}</string>
			<key>spriteSize</key>
			<string>{379,705}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{764,716},{379,705}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-28}</string>
			<key>spriteSize</key>
			<string>{379,692}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{1146,716},{379,692}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-27}</string>
			<key>spriteSize</key>
			<string>{379,688}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{1528,716},{379,688}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_1.png</string>
		<key>size</key>
		<string>{1908,1430}</string>
		<key>textureFileName</key>
		<string>spritesheet_1.png</string>
	</dict>
</dict>
</plist>
