<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{125,171}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{0,0},{125,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-15}</string>
			<key>spriteSize</key>
			<string>{125,170}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{168,0},{125,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-16}</string>
			<key>spriteSize</key>
			<string>{128,168}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{336,0},{128,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_1.png</string>
		<key>size</key>
		<string>{502,327}</string>
		<key>textureFileName</key>
		<string>spritesheet_1.png</string>
	</dict>
</dict>
</plist>
