<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-64}</string>
			<key>spriteSize</key>
			<string>{133,155}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{0,0},{133,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-64}</string>
			<key>spriteSize</key>
			<string>{133,155}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{168,0},{133,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-64}</string>
			<key>spriteSize</key>
			<string>{133,155}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{336,0},{133,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_6.png</string>
		<key>size</key>
		<string>{502,327}</string>
		<key>textureFileName</key>
		<string>spritesheet_6.png</string>
	</dict>
</dict>
</plist>
