<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{23,106}</string>
			<key>spriteSize</key>
			<string>{411,457}</string>
			<key>spriteSourceSize</key>
			<string>{720,720}</string>
			<key>textureRect</key>
			<string>{{0,0},{411,457}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{24,131}</string>
			<key>spriteSize</key>
			<string>{423,450}</string>
			<key>spriteSourceSize</key>
			<string>{720,720}</string>
			<key>textureRect</key>
			<string>{{722,0},{423,450}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{24,149}</string>
			<key>spriteSize</key>
			<string>{433,423}</string>
			<key>spriteSourceSize</key>
			<string>{720,720}</string>
			<key>textureRect</key>
			<string>{{0,548},{433,423}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{25,163}</string>
			<key>spriteSize</key>
			<string>{441,395}</string>
			<key>spriteSourceSize</key>
			<string>{720,720}</string>
			<key>textureRect</key>
			<string>{{722,548},{441,395}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{720,546}</string>
			<key>spriteSourceSize</key>
			<string>{720,720}</string>
			<key>textureRect</key>
			<string>{{0,1096},{720,546}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_3.png</string>
		<key>size</key>
		<string>{1442,1642}</string>
		<key>textureFileName</key>
		<string>spritesheet_3.png</string>
	</dict>
</dict>
</plist>
