<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,47}</string>
			<key>spriteSize</key>
			<string>{627,465}</string>
			<key>spriteSourceSize</key>
			<string>{720,720}</string>
			<key>textureRect</key>
			<string>{{0,0},{627,465}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{720,375}</string>
			<key>spriteSourceSize</key>
			<string>{720,720}</string>
			<key>textureRect</key>
			<string>{{722,0},{720,375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{469,406}</string>
			<key>spriteSourceSize</key>
			<string>{720,720}</string>
			<key>textureRect</key>
			<string>{{0,548},{469,406}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,-18}</string>
			<key>spriteSize</key>
			<string>{465,489}</string>
			<key>spriteSourceSize</key>
			<string>{720,720}</string>
			<key>textureRect</key>
			<string>{{722,548},{465,489}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,-13}</string>
			<key>spriteSize</key>
			<string>{521,517}</string>
			<key>spriteSourceSize</key>
			<string>{720,720}</string>
			<key>textureRect</key>
			<string>{{0,1096},{521,517}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{21,-26}</string>
			<key>spriteSize</key>
			<string>{474,491}</string>
			<key>spriteSourceSize</key>
			<string>{720,720}</string>
			<key>textureRect</key>
			<string>{{722,1096},{474,491}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_1.png</string>
		<key>size</key>
		<string>{1442,1642}</string>
		<key>textureFileName</key>
		<string>spritesheet_1.png</string>
	</dict>
</dict>
</plist>
