<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,23}</string>
			<key>spriteSize</key>
			<string>{694,778}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,0},{694,778}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,20}</string>
			<key>spriteSize</key>
			<string>{694,775}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{704,0},{694,775}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,18}</string>
			<key>spriteSize</key>
			<string>{694,783}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,797},{694,783}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,19}</string>
			<key>spriteSize</key>
			<string>{694,783}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{704,797},{694,783}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_2.png</string>
		<key>size</key>
		<string>{1406,1592}</string>
		<key>textureFileName</key>
		<string>spritesheet_2.png</string>
	</dict>
</dict>
</plist>
