<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,24}</string>
			<key>spriteSize</key>
			<string>{698,788}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,0},{698,788}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,19}</string>
			<key>spriteSize</key>
			<string>{697,779}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{704,0},{697,779}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,22}</string>
			<key>spriteSize</key>
			<string>{696,779}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,797},{696,779}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,25}</string>
			<key>spriteSize</key>
			<string>{695,781}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{704,797},{695,781}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_1.png</string>
		<key>size</key>
		<string>{1406,1592}</string>
		<key>textureFileName</key>
		<string>spritesheet_1.png</string>
	</dict>
</dict>
</plist>
