<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-17}</string>
			<key>spriteSize</key>
			<string>{647,410}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,0},{647,410}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-16}</string>
			<key>spriteSize</key>
			<string>{720,407}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,0},{720,407}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{720,454}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,553},{720,454}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,43}</string>
			<key>spriteSize</key>
			<string>{623,534}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,553},{623,534}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,49}</string>
			<key>spriteSize</key>
			<string>{618,551}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,1106},{618,551}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,41}</string>
			<key>spriteSize</key>
			<string>{612,551}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,1106},{612,551}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_2.png</string>
		<key>size</key>
		<string>{1442,1657}</string>
		<key>textureFileName</key>
		<string>spritesheet_2.png</string>
	</dict>
</dict>
</plist>
