<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,44}</string>
			<key>spriteSize</key>
			<string>{638,637}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,0},{638,637}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,47}</string>
			<key>spriteSize</key>
			<string>{634,644}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,0},{634,644}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,52}</string>
			<key>spriteSize</key>
			<string>{625,655}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,676},{625,655}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,53}</string>
			<key>spriteSize</key>
			<string>{620,656}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,676},{620,656}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,51}</string>
			<key>spriteSize</key>
			<string>{616,652}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,1352},{616,652}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,44}</string>
			<key>spriteSize</key>
			<string>{620,637}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,1352},{620,637}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_2.png</string>
		<key>size</key>
		<string>{1442,2026}</string>
		<key>textureFileName</key>
		<string>spritesheet_2.png</string>
	</dict>
</dict>
</plist>
