<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,35}</string>
			<key>spriteSize</key>
			<string>{639,619}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,0},{639,619}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,23}</string>
			<key>spriteSize</key>
			<string>{648,593}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,0},{648,593}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-17}</string>
			<key>spriteSize</key>
			<string>{720,639}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,676},{720,639}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-33}</string>
			<key>spriteSize</key>
			<string>{720,674}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,676},{720,674}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,13}</string>
			<key>spriteSize</key>
			<string>{585,610}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,1352},{585,610}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,11}</string>
			<key>spriteSize</key>
			<string>{603,630}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,1352},{603,630}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_3.png</string>
		<key>size</key>
		<string>{1442,2026}</string>
		<key>textureFileName</key>
		<string>spritesheet_3.png</string>
	</dict>
</dict>
</plist>
