<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11,-19}</string>
			<key>spriteSize</key>
			<string>{519,693}</string>
			<key>spriteSourceSize</key>
			<string>{834,1112}</string>
			<key>textureRect</key>
			<string>{{0,0},{519,693}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,-24}</string>
			<key>spriteSize</key>
			<string>{518,694}</string>
			<key>spriteSourceSize</key>
			<string>{834,1112}</string>
			<key>textureRect</key>
			<string>{{521,0},{518,694}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,-28}</string>
			<key>spriteSize</key>
			<string>{514,705}</string>
			<key>spriteSourceSize</key>
			<string>{834,1112}</string>
			<key>textureRect</key>
			<string>{{1042,0},{514,705}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,-28}</string>
			<key>spriteSize</key>
			<string>{515,706}</string>
			<key>spriteSourceSize</key>
			<string>{834,1112}</string>
			<key>textureRect</key>
			<string>{{0,754},{515,706}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,-27}</string>
			<key>spriteSize</key>
			<string>{514,707}</string>
			<key>spriteSourceSize</key>
			<string>{834,1112}</string>
			<key>textureRect</key>
			<string>{{521,754},{514,707}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-27}</string>
			<key>spriteSize</key>
			<string>{515,707}</string>
			<key>spriteSourceSize</key>
			<string>{834,1112}</string>
			<key>textureRect</key>
			<string>{{1042,754},{515,707}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_3.png</string>
		<key>size</key>
		<string>{1561,1506}</string>
		<key>textureFileName</key>
		<string>spritesheet_3.png</string>
	</dict>
</dict>
</plist>
