<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,10}</string>
			<key>spriteSize</key>
			<string>{586,639}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,0},{586,639}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{586,636}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,0},{586,636}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,6}</string>
			<key>spriteSize</key>
			<string>{586,632}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,641},{586,632}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{586,626}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,641},{586,626}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{586,625}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{0,1282},{586,625}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{586,620}</string>
			<key>spriteSourceSize</key>
			<string>{720,1280}</string>
			<key>textureRect</key>
			<string>{{722,1282},{586,620}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>spritesheet_1.png</string>
		<key>size</key>
		<string>{1442,1921}</string>
		<key>textureFileName</key>
		<string>spritesheet_1.png</string>
	</dict>
</dict>
</plist>
